



<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>여행 후기</title>

    <link rel="stylesheet" th:href="@{/css/style.css}" href="/css/style.css">
    <link rel="stylesheet" th:href="@{/css/reviews.css}" href="/css/reviews.css">
    <link rel="stylesheet" th:href="@{/css/style-sub.css}" href="/css/style-sub.css">
</head>
<body class="main-page reviews-page">

<main>
    <div th:replace="reviews/reviews :: reviewsContent"></div>
</main>

<div th:replace="fragments/main-footer :: mainFooter"></div>

<script th:src="@{/js/main.js}" src="/js/main.js"></script>
<script th:src="@{/js/reviews.js}" src="/js/reviews.js"></script>
<script th:src="@{/js/unity-bridge.js}"></script>

<script th:inline="javascript">
    /*<![CDATA[*/
    // IDE 에러 방지를 위해 디폴트 값을 설정하고 주석 문법을 사용합니다.
    //의 fullName 필드를 세션에서 안전하게 가져옵니다.
    const fullName = /*[[${session.user != null ? session.user.fullName : 'Guest'}]]*/ "Guest";

    window.onload = function() {
        //와 통신하기 위한 브릿지 함수 확인
        if (typeof sendUserInfoToUnity === 'function') {
            console.log("전송할 이름:", fullName);
            sendUserInfoToUnity(fullName);
        } else {
            console.warn("unity-bridge.js가 로드되지 않았거나 함수를 찾을 수 없습니다.");
        }
    };
    /*]]>*/
</script>

</body>
</html>