<header th:fragment="mainHeader" class="header" id="mainHeader"
        xmlns:th="http://www.thymeleaf.org">
    <div class="header-container">
        <a th:href="@{/main}" href="/main" class="header-logo">🇯🇵 日本 Travel LMS</a>

        <nav class="header-nav">

            <a th:href="@{/reviews}" href="/reviews">여행후기</a>
            <a th:href="@{/info}" href="/info">인포메이션</a>
            <a th:href="@{/learning}" href="/learning" class="nav-parent">학습하기</a>
            <a th:href="@{/guide}" href="/guide">이용안내</a>
        </nav>

        <div class="user-info">
            <span class="user-name" id="userName"
                  th:text="${username != null ? username : '사용자'}">사용자</span>

            <!-- 일단 링크로(나중에 Security 붙이면 조정) -->
            <a class="btn-logout" th:href="@{/logout}" href="/logout">로그아웃</a>
        </div>
    </div>

    <!-- 2차 탭바 -->
    <div class="subnav">
        <div class="subnav-inner">
            <a th:href="@{/online-learning}" href="/online-learning"
               class="subnav-item" data-subnav="online-learning">온라인학습</a>

            <a th:href="@{/attendance}" href="/attendance"
               class="subnav-item" data-subnav="attendance">출석체크</a>

            <a th:href="@{/my-classroom}" href="/my-classroom"
               class="subnav-item" data-subnav="my-classroom">나의 강의실</a>
        </div>
    </div>
</header>

